# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

/data/
glove.6B*
# Artifacts
artifacts/
artifacts_lr/
artifacts_xgb/
artifacts_svm
*.pkl
*.json
*.h5
*.model
